<div class="custom-component @CssClass" style="@Style">
    <div class="component-demo">
        <div class="description">
            <h5>@Title</h5>
            <p>@Description</p>
        </div>
        <div class="">
            @ChildContent
        </div>
    </div>
    <svg class="line-down" width="100" height="80" xmlns="http://www.w3.org/2000/svg">
        <path d="M 50,0 C 20,50 80,50 50,200" stroke="var(--color-secondary)" fill="transparent" />
    </svg>
    <div class="component-how-to-use">
        <div class="desription">
            <h5>How to use it</h5>
            <p>
                <span>1.</span> @ImgDescription_1
            </p>
            <p>
                <span>2.</span> @ImgDescription_2
            </p>
        </div>
    </div>
    <div class="arrows">
        <svg width="200" height="100" xmlns="http://www.w3.org/2000/svg">
            <path d="M 190,10 C 130,30 70,170 10,190" stroke="white" fill="transparent" />
        </svg>
        <svg width="200" height="100" xmlns="http://www.w3.org/2000/svg">
            <path d="M 10,10 C 70,30 130,170 190,190" stroke="white" fill="transparent" />
        </svg>
    </div>
    <svg class="line-down-mobile" width="100" height="80" xmlns="http://www.w3.org/2000/svg">
        <path d="M 50,0 C 20,50 80,50 50,200" stroke="var(--color-secondary)" fill="transparent" />
    </svg>
    <div class="images">
        <div class="img">
            <img src="@ImgUrl_1" alt="code" />
            <span>1.</span>
        </div>
        <svg class="line-down-mobile" width="100" height="80" xmlns="http://www.w3.org/2000/svg">
            <path d="M 50,0 C 20,50 80,50 50,200" stroke="var(--color-secondary)" fill="transparent" />
        </svg>
        <div class="img">
            <img src="@ImgUrl_2" alt="code" />
            <span>2.</span>
        </div>
        
        
        
      
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter]
    public string Description { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public string? CssClass { get; set; }

    [Parameter]
    public string ImgUrl_1 { get; set; } = null!;

    [Parameter]
    public string ImgUrl_2 { get; set; } = null!;

    [Parameter]
    public string ImgDescription_1 { get; set; } = null!;

    [Parameter]
    public string ImgDescription_2 { get; set; } = null!;

}
